.section-container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    max-width: 470px;
}

.titles h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
}

.titles p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.section-container img {
    max-width: 458px;
    height: 258px;
    object-fit: cover;
}

@media only screen and (max-width:978px) {
    .section-container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .titles {
        max-width: 100%;
    }

    .section-container img {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }
}