ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

footer {
    padding-top: 56px;
    padding-bottom: 56px;
    color: white;
    background-color: var(--black);
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: start;
}

.footer_list li {
    margin-bottom: 8px;
}

.footer_list h4 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 16px;
}

.footer_list p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer_list li:nth-child(1) p {
    max-width: 320px;
}

.footer_list a {
    color: white;
    text-decoration: none;
}

.footer_list a:hover,
.footer_list a:active {
    color: var(--blue);
}

.social li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social>li:nth-child(1)::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 24px;
    background: url('../../assets/images/telegram.svg')no-repeat;
}

.social>li:nth-child(2)::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 24px;
    background: url('../../assets/images/facebook.png')no-repeat;
}

.social>li:nth-child(3)::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 24px;
    background: url('../../assets/images/instagram.svg')no-repeat;
}